{% extends "base.html" %}

{% block header %}

{% end %}



{% block time %}
<div class="text-center">
  <!-- <h1 class="lead">{{ time.hour }}:{{ '%02d'%time.minute }}:{{ '%02d'%time.second }}</h1> -->
  <h1>date:<div id='date'></span></h1>
  <small>{{ time.strftime("%a") }}, {{ time.strftime("%B") }} {{ time.day }}</small>
</div>
{% end %}




{% block weather %}
  {% if weather is not None %}
  <div class="col-xs-1">
    {{ int(weather['temp']) }}F: {{ weather['description'].capitalize() }} <br />
    <h1><i class="{{ weather['icon'] }}"></i></h1>
     <br />
    <small>[{{ int(weather['min']) }}/{{ int(weather['max']) }}]</small>
    <!-- Current: {{ weather['date'] }} -->
  </div>
  {% for day in weather['forecast'] %}
    {% block day %}
    <div class="col-xs-1"> 
      {{ day['date'].strftime("%b") }} {{ day['date'].day }} <br />
      <h1><i class="{{ day['icon'] }}"></i></h1>
      {{ int(day['temp']) }} <br />
      <small>{{ int(day['min']) }} | {{ int(day['max']) }} </small>
    </div>
    {% end %}
  {% end %}
  {% end %}
{% end %}

{% block reddit %}
<div class="col-xs-12 col-md-12 col-lg-12">
    <div class='row' style='margin:10px auto;'>
        <!-- <div style='margin:0 auto; max-width:800px;'> -->
        <!-- <div> -->
        
        <div style='margin:0 auto; max-height:800px; max-width:800px;'>
            <span style="text-align:right; z-index:10; top:0.4em; position:relative; background-color:rgba(0,0,0,0.5); padding: 1px;">
                {{ reddit['title'] }}
            </span>
            <div class='img-responsive' style='margin-top:-1.1em;'>
                <img style='height:100%; width:100%' src="{{ reddit['filename'] }}">
            </div>
        <!-- </div> -->
    </div>
    </div>
    <!-- {{ reddit['filename'] }} -->
    <!-- <img src="{{ reddit['filename'] }}"> -->
</div>
{% end %}



{% block content %}
    <hr />
  <p class="lead"> Hello World</p>
<ul>
 {% for item in items %}
     <li>{{ item }}</li>
 {% end %}
</ul>
{% end %}

{% block footer %}
  <small>Footer</small>
{% end %}